:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated_blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark-cyan);
}

form{
    background-color: rgb(112, 144, 172);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
#welcome-text{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

#username{
    display: flex;
    flex-direction: column;
}

#password{
    display: flex;
    flex-direction: column;
}

label{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    color: aliceblue;
}

input{
    border-radius: 5px;
    border: 1px;
    height: 45px;
    padding-left: 5px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}
input::placeholder{
    font-size: 16px;
}

#submit-user{
    padding-top: 35px;
    align-items: center;
}

.btn-log-in{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 100%;
    background-color: rgb(212, 208, 208);
    color: rgb(126, 124, 124);
    font-weight: bold;
}

#message{
    padding: 20px;
    text-align: center;
    color: rgba(94, 30, 30, 0.712);
}

.redirection-text{
    text-align: center;
}

a{
    text-decoration: none;
}