:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated_blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--dark-cyan);
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--very-dark-desaturated_blue);
  color: var(--white);
}

.title {
  text-align: center;
  font-size: 36px;
  padding-left: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.other-pages {
  height: 40px;
}

.links {
  display: flex;
  list-style: none;
}

.page{
  padding: 10px;
  margin: 8px;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--dark-cyan);
  transition: transform 0.2s;
}

.page:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

main {
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--very-dark-desaturated_blue);
}

.container {
  width: 600px;
  height: 800px;
  border-radius: 5%;
  margin: auto;
  background-color: var(--white);
  overflow: hidden;
  position: relative;
}

.pokemon__header h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--dark-cyan);
}

.pokemon_img {
  display: flex;
  justify-content: center;
  background-color: var(--dark-cyan);
}

.pokemon_img img {
  max-width: 100%;
  background-color: var(--white);
  margin-bottom: 15px;
}

#pokemon_image {
  border-radius: 50%;
  width: 200px;
  padding: 10px;
}

.pokemon_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
  background-color: var(--white);
}

.pokemon__description {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: auto;
}

.pokemon__features {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pokemon_id,
.pokemon__height,
.pokemon__weight,
.pokemon__types {
  width: 25%;
}

.pokemon__table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.pokemon__table th,
.pokemon__table td {
  padding: 12px 15px;
}

.pokemon__table thead th {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: bold;
}

.pokemon__table tbody tr {
  border-bottom: 1px solid var(--dark-gray);
}

.pokemon__table tbody tr:nth-of-type(even) {
  background-color: var(--dark-gray);
}

.pokemon__table tbody tr:last-of-type {
  border-bottom: 2px solid var(--dark-cyan);
}

.pokemon__table tbody tr:hover {
  background-color: var(--dark-grayish-blue);
}

/* Table for the teams  */
.team-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--black);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

.team-actions label {
  margin-right: 10px;
}

.team-actions select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid var(--black);
  border-radius: 4px;
}

.team-actions button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: var(--dark-grayish-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.team-actions button:hover {
  background-color: var(--dark-cyan)
}