:root {
    --black: #1c1c1c;
    --gray: #ececec;
    --white: #f7f7f7;
    --shadow: rgba(0, 0, 0, 0.25);
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated_blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--white);

    background-image: url('/static/img/background.jpg');
    background-attachment: fixed; /* La imagen se queda fija */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--very-dark-desaturated_blue);
    color: var(--white);
}

.title {
    text-align: center;
    font-size: 36px;
    padding-left: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.other-pages{
    height: 60px;
}

.links{
    display: flex;
    list-style: none;
    box-sizing: border-box;
}

.page{
    padding: 10px;
    margin: 8px;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--dark-cyan);
    transition: transform 0.2s;
}

.page:hover{
    transform: scale(1.1);
    
}

a{  
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

.search{
    padding: 20px;
    box-sizing: content-box;
}

.pokedex-card{
    border: 5px solid black;
    width: 300px;
}
.pokemon{
    width: auto;
    height: auto;
}


/* Cards */
/* 1.0rem == 1.0em == 16px */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Kumbh Sans", sans-serif;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

main {
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 100px); /* Ajusta la altura mínima del main */
    background-color: var(--very-dark-desaturated_blue);
    overflow: auto;
}

.list_pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media screen and (min-width: 470px) {
    .list_pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .list_pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon_container {
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0 0 48px -16px var(--shadow);
    padding-block: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.pokemon_img {
    padding-inline: 16px;
    display: flex;
    justify-content: center;
}

.pokemon_img img {
    width: 100%;
    max-width: 120px;
}

.pokemon_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline: 16px;
    align-items: center;
    text-align: center;
}

.pokemon_data {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon_id {
    background-color: var(--gray);
    padding: 4px 8px;
    border-radius: 100vmax;
    font-size: 12px;
    font-weight: 500;
}

.pokemon_name {
    font-size: 22.4px; /* Equivalente a 1.4rem en px */
}

.pokemon_tipos {
    display: flex;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: 4px 8px;
    border-radius: 100vmax;
    background-color: gray; 
}

.pokemon_buttons {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.btn {
    background-color: var(--gray);
    padding: 6px 16px;
    border-radius: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 32px var(--shadow);
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px var(--shadow);
}

.search{
    width: max-content;
    text-align: center;
    padding: 10px 5px 25px 0;
    margin: auto;
    display: block;
}

#search-id{
    border-radius: 15px;
    border-color: #1c1c1c3a;
    background-color: #ececec;
    width: 260px;
    height: 35px;
    padding: 0 10px 0 10px;
}

.search_id {
    background-color: var(--dark-cyan);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    transition: background-color 0.3s;
    margin: 0 5px 0 5px;
}

.search_id:hover{
    background-color: var(--dark-grayish-blue);
}

#team-dropdown{
    font-size: 18px;
    background-color: transparent;
    transition: transform 0.2s;
    border: none;
    color: white;
}
