:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated_blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark-cyan);
    color: var(--white);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--very-dark-desaturated_blue);
    color: var(--white);
}

.title {
    width: 300px;
    text-align: center;
    font-size: 36px;
}

.other-pages {
    height: 40px;
}

.links{
    box-sizing: content-box;
    display: flex;
    list-style: none;
    
}

.page{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    
}
.page:hover{
    transform: scale(1.1);
}

main {
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--very-dark-desaturated_blue);
}

.team {
    background-color: var(--dark-grayish-blue);
    padding: 20px;
    border-radius: 10px;
    color: var(--white);
}

.team h2 {
    text-align: center;
    margin-bottom: 20px;
}

#team-list {
    list-style: none;
    padding: 0;
}

#team-list li {
    margin-bottom: 10px;
}

#save-team {
    display: block;
    margin: 0 auto;
    background-color: var(--dark-grayish-blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo específico para el selector de Pokémon */
#pokemon-select {
    color: var(--black);
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

/* Estilo para el campo de nombre del equipo */
.team-name {
    margin-top: 20px; /* Espacio entre la lista de equipos y el campo de nombre */
    text-align: center;
}

.team-name label {
    font-size: 18px;
    margin-right: 10px;
}

.team-name input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.pokemon img {
    cursor: pointer;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    display: inline-block;
}

.delete-team-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}