<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Pokedexn't</title>
</head>
<body>
    <header>
        <h1 class="title">Pokedexn't</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/register">Register</a></li>
                <li class="page"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to Pokedexn't</h2>
    </main>
</body>
</html>