<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Pokedexn't</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-logo">
                <img id="pokemon-logo" src="/static/img/Pok-dexn-t-11-7-2024.png">
            </div>
            <p>Welcome!</p>
            <ul class="links">
                <li class="page"><a href="/register">Register</a></li>
                <li class="page"><a href="/login">Login</a></li>
            </ul>
        </div>

    </main>

</body>

</html>