<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Pokedex't</title>
    <script>
        function redirect_pokemon_page() {
            event.preventDefault();
            let pokemon_id = document.getElementById('search-id').value.toLowerCase().trim();
            // Por lo que estuve investigando, no era n°s, caracter o strings no debería de entrar
            if (pokemon_id) {
                window.location.href = `/pokemon?id=${pokemon_id}`;
            }
        }
    </script>
</head>

<body>
    <header>
        <h1 class="title">Pokedex</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/" target="_blank">Inicio</a></li>
                <li class="page"><a href="/team" target="_blank">Crear Equipos</a></li>
                <li class="page"><a href="https://promiedos.com.ar" target="_blank">LINK A OTRA COSA</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="search">
            <form onsubmit="redirect_pokemon_page()">
                <input type="search" placeholder="1 or Pikachu" id="search-id">
                <button class="search_id" type="submit">Search</button>
            </form>
        </div>

            <div class="list_pokemons"> 
            </div>
    </main>

    <script src="/static/js/main.js"></script>

</body>
</html