<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/styles.css">
    <title>Pokedex't</title>
</head>

<body>
    <header>
        <h1 class="title">Pokedex</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="https://promiedos.com.ar" target="_blank">Inicio</a></li>
                <li class="page"><a href="https://promiedos.com.ar" target="_blank">Equipos creados</a></li>
                <li class="page"><a href="https://promiedos.com.ar" target="_blank">LINK A OTRA COSA</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="search">
            <form>
                <input type="text" placeholder="#000" id="search-id">
                <button class="search_id" type="submit" onclick="search_pokemon()">Buscar</button>
            </form>
        </div>

            <div class="list_pokemons"> 
            </div>
    </main>

    <script src="main.js"></script>

</body>

</html>