<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Pokedexn't</title>
    <script>
        function redirect_pokemon_page() {
            event.preventDefault();
            let pokemon_id = document.getElementById('search-id').value.toLowerCase().trim();
            if (pokemon_id) {
                window.location.href = `/pokemon?id=${pokemon_id}`;
            }
        }
    </script>
</head>
<body>
    <header>
        <img id="pokemon-logo" src="/static/img/Pok-dexn-t-11-7-2024.png">
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/index">Home</a></li>
                <li class="page"><a href="/trainer">Trainer</a></li>
                <li class="page">
                    <select id="team-dropdown">
                        <option value="">Select a Team</option>
                    </select>
                </li>
                <li class="page"><a href="/all_trainers">All Trainers</a></li>
                <li class="page"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="search">
            <form onsubmit="redirect_pokemon_page()">
                <input type="search" placeholder="1 or Pikachu" id="search-id">
                <button class="search_id" type="submit">Search</button>
            </form>
        </div>
        <div class="list_pokemons">
        </div>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>
