<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Details</title>
    <link rel="stylesheet" href="/static/css/pokemon.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <header>
        <h1 class="title">Pokedexn't</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/">Home</a></li>
                <li class="page"><a href="/team">Teams</a></li>
            </ul>
        </nav>
    </header>

    <main class="pokemon_details">
        <div class="container">
            <div class="pokemon__header">
                <h1 id="pokemon_name" class="pokemon__name">Nombre del Pokémon</h1>
                <div class="pokemon_img">
                    <img id="pokemon_image" src="" alt="Pokemon Image">
                </div>
            </div>
            <div class="pokemon_content">
                <div class="pokemon__description">
                    <div id="pokemon_description">Descripción del Pokémon aquí.</div>
                </div>
                <div class="pokemon__features">
                    <div class="pokemon__id" id="pokemon_id">ID: 1</div>
                    <div class="pokemon__height" id="pokemon_height">Altura: 0.7m</div>
                    <div class="pokemon__weight" id="pokemon_weight">Peso: 6.9kg</div>
                    <div class="pokemon__types" id="pokemon_types">Tipos del Pokémon aquí.</div>
                </div>
                <div class="pokemon__table" id="pokemon_table">
                    <!-- Aquí va la tabla con más detalles -->
                </div>
            </div>
        </div>
        <div class="team-actions">
            <label for="team-dropdown">Select a team:</label>
            <select id="team-dropdown"></select>
            <button id="add-to-team">Add to the team</button>
            <button id="remove-from-team">Delete from the team</button>
        </div>
    </main>

    <script src="/static/js/pokemon.js"></script>
</body>

</html>