<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>

<body>
    <header>
        <h1 class="title">Edit Profile</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/index">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div>
                <label for="profile_picture">Profile Picture:</label>
                <div class="profile-picture">
                    <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Profile Picture" id="current-profile-picture" width="150" height="150">
                </div>
                <input type="file" id="profile_picture" name="profile_picture">
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description">{{ user.description }}</textarea>
            </div>
            <button type="submit">Update Profile</button>
        </form>
    </main>
</body>

</html>