<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/team.css">
    <title>Create Pokémon Team</title>
</head>

<body>
    <header>
        <h1 class="title">Create Your Pokémon Team</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/" target="_blank">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="pokemon-selection">
            <label for="pokemon-select">Choose a Pokémon:</label>
            <select id="pokemon-select">
                <option value="">Select Pokemon</option>
                <!-- Opciones de Pokémon se agregarán dinámicamente aquí -->
            </select>
        </div>

        <br>
        
        <div class="pokemon-display">
            <h2>Selected Pokémon</h2>
            <!-- Mostar foto y nombre del Pokemon -->
            <div id="pokemon-details">
                <p>Please select a Pokémon from the list</p>
            </div>
        </div>
        
        <br>
        
        <div class="team-name">
            <label for="team-name">Team Name:</label>
            <input type="text" id="team-name" placeholder="Enter team name">
            <button onclick="importTeam()" class="btn">Import</button>
        </div>
        
        <div class="team">
            <h2>Your Team</h2>
            <ul id="team-list"></ul>
            <button id="save-team" class="btn">Save Team</button>
        </div>
      
    </main>

    <script src="/static/js/team.js"></script>
</body>

</html>
