<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/team.css">
    <title>Create Pokémon Team</title>
</head>

<body>
    <header>
        <h1 class="title">Create Your Pokémon Team</h1>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/" target="_blank">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="team-name">
            <label for="team-name">Team Name:</label>
            <input type="text" id="team-name" placeholder="Enter team name">
            <button id="create-team" class="btn">Create Team</button>
        </div>

        <div id="teams-container">
            <!-- Aquí se mostrarán todos los equipos con sus Pokémon -->
        </div>
    </main>

    <script src="/static/js/team.js"></script>
</body>

</html>
