<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/trainer.css">
    <title>Trainer Details</title>
</head>

<body>
    <header>
        <a href="/index">
            <img id="pokemon-logo" src="/static/img/Pok-dexn-t-11-7-2024.png" alt="Pokedexn't Logo">
        </a>
        <nav class="other-pages">
            <ul class="links">
                <li class="page"><a href="/trainer">Trainer</a></li>
                <li class="page"><a href="/all_trainers">All Trainers</a></li>
                <li class="page"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div id="profile-section">
            <div class="profile-container">
                <h2 class="section-title">Profile</h2>
                <div class="picture-profile">
                    <div class="picture">
                        <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Profile Picture" id="current-profile-picture" width="150" height="150">
                    </div>
                </div>

                <div class="details-profile">
                    <div class="username-profile-details">
                        <label for="username">Username:</label>
                        <p class="username-info">{{ user.username }}</p>
                    </div>
                    <div class="description-profile-details">
                        <label for="description">Description:</label>
                        <p class="description-info">{{ user.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="team-section">
            <h2 class="section-title">Teams</h2>
            <div id="teams-container">
                {% for team in teams %}
                <div class="team">
                    <div class="team-header">
                        <h2>{{ team.name }}</h2>
                        <span class="pokemon-count">{{ team.pokemons|length }}/6</span>
                    </div>
                    <div class="pokemons-container">
                        {% for pokemon in team.pokemons %}
                        <div class="pokemon">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.pokemon_id }}.png" alt="Pokemon">
                            <p>Pokemon {{ pokemon.pokemon_id }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>